.baslik1{
    justify-content: center;
    display:flex;
    font-size: 70px;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.metin1{
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    display: flex;
    font-size: 30px;
    font-style: italic;

}
.linkler1{
    font-size: 25px;
}
body {
    background-image: url('arkaplan3.jpg'); /*Arka plan resmi*/
    background-size: cover; /* Fotoğrafın boyutunu sayfaya göre ayarlar */
    background-position: center center; /* Fotoğrafı yatay ve dikey olarak ortalar */
    background-repeat: no-repeat; /* Fotoğrafın tekrar etmesini engeller */
    color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
  }
  .baslikyan{
    display: flex;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
  }
  .altbaslik{
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    font-size: 35px;
    display: flex;

  }